.navigationMenu {
  display: inline-block;

}
.iAmHere {
  background-color: #D9D8A3;
  font-weight: bold;
}
.businessName {
  text-align: center;
  margin: 125px auto 0;
}
.logo {
  background-image: url("assets/salmon.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 250px;
  border: 2px solid #5C6149;
}
.hoursOfOper {
  margin-right: 10px;
  display: inline-block;
  float: right;
}
.clearFix {
  float: none;
}
#formSection {
  width: 250px;
  margin: 0 auto;

}
#store-data {
  margin: 0 auto;
}
ul {
  list-style-type: none;
}
body {
  background-color: #F0E2C1;
}
a {
  text-decoration: none;
  color: #5C6149;
}
table {
  border: 2px solid black;
  height: 200px;
  margin: 0 auto;
}
th, tr {
  border: 1px solid black;
  text-align: center;

}
td {
  border: 1px solid black;
  text-align: center;
  width: 40px;
  height: 30px;
}
input[type="text"], input[type="number"] {
  width: 200px;
}
fieldset {
  border: thin solid dimgrey;
}
